snippet td "Today's date"
`date -R | ruby -ne '$_ =~ /(.+ 2022)/; puts "\# " + $1'`
endsnippet

snippet ud
Unit: ${1:boolean}
<br>
Default: ${2:true}
endsnippet

snippet rl "Reference Link"
[${VISUAL:Text}](#${VISUAL:Text})$0
endsnippet
